name: Upload Test Results to Trunk (Hourly)

on:
  schedule:
    - cron: 0 */2 * * *
  workflow_dispatch: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref && github.ref || github.run_id }}
  cancel-in-progress: true

env:
  CLJ_KONDO_VERSION: "2023.09.07"

jobs:

  be-tests:
    runs-on: ubuntu-22.04
    name: be-tests-java-${{ matrix.java-version }}-${{ matrix.edition }}
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        edition: [oss, ee]
        java-version: [11, 17, 21]
    steps:
      - uses: actions/checkout@v3

      - name: Prepare front-end environment
        uses: ./.github/actions/prepare-frontend

      - name: Prepare back-end environment
        uses: ./.github/actions/prepare-backend
        with:
          m2-cache-key: be-tests

      - name: Build static-viz frontend
        run: yarn build-static-viz

      - name: Run tests
        if: matrix.java-version != 21
        run: clojure -X:dev:ci:test:${{ matrix.edition }}:${{ matrix.edition }}-dev

      - name: Run tests using Java 21 on `master` only
        if: matrix.java-version == 21 && github.ref_name == 'master'
        run: clojure -X:dev:ci:test:${{ matrix.edition }}:${{ matrix.edition }}-dev

      - name: debug print xml
        run: find target/**/*.xml -print

      - name: Upload results
        run: ./.trunk-ci-analytics/metrics-uploader-linux-x64 metrics upload-tests --token=${{ secrets.TRUNK_DEBUGGER_TOKEN }}  target/junit/**/*_test.xml
        env:
          REPO_URL: ${{ github.repositoryUrl }}
        continue-on-error: true
